<section class="h-100 mt-3 section mb-3">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: var(--branco);">
            <div class="divImg mt-3"><img src="assets/logo.png" class="img" /></div>
            <h2 class="card-title text-center mt-3">
              Casamento
            </h2>
            <h2 class="card-title text-center mt-0">
              Fernanda & Dante
            </h2>
            <hr />
            <p class="card-title text-center mt-3">
              Queridos amigos e familiares, sejam bem vindos ao nosso site!
            </p>

            <p class="card-title text-center mt-3">
              O nosso grande dia está chegando e é uma enorme alegria poder ter pessoas especiais participando e
              celebrando conosco. Para a melhor organização desse momento especial, confirme aqui a sua presença e
              comece a contar os dias com a gente!
            </p>

            <div *ngIf="!contagem()">
              <p class="card-title text-center mt-3">
                Faltam exatamente:
              </p>
              <div class="content" [class.move]="animate">
                <div class="content-timer">
                  <div class="content-d">
                    <div class="time">{{ days | number:'2.0'}}<span>d</span></div>
                  </div>
                  <div class="content-h">
                    <div class="time">{{ hours | number:'2.0'}}<span>h</span></div>
                  </div>
                  <div class="content-m">
                    <div class="time">{{ minutes | number:'2.0'}}<span>m</span></div>
                  </div>
                  <div class="content-s">
                    <div class="time">{{seconds | number:'2.0'}}<span>s</span></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row1-container mb text-center">
              <div class="box">
                <div class="card-icon">
                  <i class="bi bi-geo-alt-fill"></i>
                </div>
                <h5>Local da Cerimônia</h5>
                <p class="text-center mt-3 card-text">
                  Veja onde vamos celebrar nossa união.
                </p>
                <a target="_blank"
                  href="https://maps.app.goo.gl/E12dhujuzA1Lwn66A"
                  class="card-button"> Ver Localização</a>
              </div>

              <div class="box">
                <div class="card-icon">
                  <i class="bi bi-person-fill-check"></i>
                </div>
                <h5>Confirmação de Presença</h5>
                <p class="text-center mt-3 card-text">
                  Confirme sua presença na nossa cerimônia.
                </p>
                <a target="_blank" href="" class="card-button"> Ver mais</a>
              </div>
            </div>

            <br /><br />
            <hr />

            <app-footer></app-footer>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
