<div class="container">
  <footer class="text-white">
    <div class="social-links mt-3 text-center">
      <a href="https://matheuspcouto.github.io/" target="_blank"><i class="bi bi-person"></i></a>
      <a href="https://github.com/matheuspcouto" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.instagram.com/matheuspcouto/?hl=pt-br" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/matheuspcouto/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <br><br>
      <p>Desenvolvido por Matheus Pimentel © - {{ anoAtual }}</p>
    </div>
  </footer>
</div>
